*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Segoe UI', arial;
}
.sidebar{
    min-height: 100vh;
    max-height: 100%;
}
.link{
    list-style: none;
}
.btn-close{
    position: absolute;
    top: 2%;
    right: 4%;
}
.menu{
    font-weight: 500;
    color: #868e96;
}
.header{
    font-weight: 700;
    color: #34395e;
}
@media (min-width: 768px) {
    .sidebar{
        display: block;
    }
    .profile-navbar{
        display: block;  
    }
    .navbar-brand{
        margin: 0 ;
    }
    .toggle-button{
        display: none;
    }
}
@media (max-width: 768px) {
    .sidebar{
        display: none;
    }
    .profile-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-brand{
        margin: 0 auto;
    }
    .toggle-button{
        display: block;
    }
    .table{
        table-layout: fixed;
    }
}